.combobox-control {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  line-height: 1;
  outline: none;
  background-color: white;
  border: 1px solid hsl(240deg 6% 90%);
  color: hsl(240deg 4% 16%);
  transition:
    border-color 250ms,
    color 250ms;
}

.combobox-control[data-invalid] {
  border-color: hsl(0deg 72% 51%);
  color: hsl(0deg 72% 51%);
}

.combobox-control-multi {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.combobox-input {
  appearance: none;
  display: inline-flex;
  min-width: 0;
  min-height: 40px;
  padding-left: 1em;
  font-size: 1em;
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
}

.combobox-input::placeholder {
  color: hsl(240deg 4% 46%);
}

.combobox-trigger {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0 10px;
  background-color: hsl(240deg 5% 96%);
  border-left: 1px solid hsl(240deg 6% 90%);
  color: hsl(240deg 4% 16%);
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
}

.combobox-icon {
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
}

.combobox-description {
  margin-top: 8px;
  color: hsl(240deg 5% 26%);
  font-size: 12px;
  user-select: none;
}

.combobox-error-message {
  margin-top: 8px;
  color: hsl(0deg 72% 51%);
  font-size: 12px;
  user-select: none;
}

.combobox-content {
  background-color: white;
  border-radius: 6px;
  border: 1px solid hsl(240deg 6% 90%);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -2px rgb(0 0 0 / 10%);
  transform-origin: var(--kb-combobox-content-transform-origin);

  /* animation: content-hide 250ms ease-in forwards; */
}

/*
.combobox-content[data-expanded] {
  animation: content-show 250ms ease-out;
}
*/

.combobox-listbox {
  overflow-y: auto;
  max-height: 360px;
  padding: 8px;
  list-style-type: none;
}

.combobox-listbox:focus {
  outline: none;
}

.combobox-item {
  font-size: 16px;
  line-height: 1;
  color: hsl(240deg 4% 16%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 8px;
  position: relative;
  user-select: none;
  outline: none;
}

.combobox-item[data-disabled] {
  color: hsl(240deg 5% 65%);
  opacity: 0.5;
  pointer-events: none;
}

.combobox-item[data-highlighted] {
  outline: none;
  background-color: hsl(200deg 98% 39%);
  color: white;
}

.combobox-section {
  padding: 8px 0 0 8px;
  font-size: 14px;
  line-height: 32px;
  color: hsl(240deg 4% 46%);
}

.combobox-item-indicator {
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
