@plugin "daisyui" {
  themes: wim --default;
}

@plugin "daisyui/theme" {
  name: "wim";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-primary: #c44f05;
  --color-primary-content: #fff;
  --color-base-100: oklch(14% 0 0deg);
  --color-base-200: oklch(20% 0 0deg);
  --color-base-300: oklch(26% 0 0deg);
  --color-base-content: oklch(97% 0 0deg);
  --color-success: oklch(72% 0.219 149.579deg);
  --color-success-content: oklch(98% 0.018 155.826deg);
  --color-warning: oklch(70% 0.213 47.604deg);
  --color-warning-content: oklch(98% 0.016 73.684deg);
  --color-error: oklch(63% 0.237 25.331deg);
  --color-error-content: oklch(97% 0.013 17.38deg);
  --radius-box: 1rem;
  --radius-field: 2rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
  --color-secondary: oklch(70% 0.022 261.325deg);
  --color-secondary-content: oklch(13% 0.028 261.692deg);
  --color-accent: oklch(76% 0.177 163.223deg);
  --color-accent-content: oklch(26% 0.051 172.552deg);
  --color-neutral: oklch(43% 0 0deg);
  --color-neutral-content: oklch(98% 0 0deg);
  --color-info: oklch(71% 0.143 215.221deg);
  --color-info-content: oklch(98% 0.019 200.873deg);
  --radius-selector: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
}
