.wim-container {
  max-width: 54rem;
  margin-inline: auto;
}

.wim-section {
  padding-block: 4rem;
}

@media (--lg-n-below) {
  .wim-container {
    margin-inline: 2rem;
  }
}

@media (--md-n-below) {
  .wim-container {
    margin-inline: 1rem;
  }

  .wim-section {
    padding-block: 2.5rem;
  }
}
