body {
  font-family: "Manrope Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.wim-font-title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  color: #212121;
}

.text-primary {
  color: var(--primary);
}
